.container {
	padding: 10px 150px 10px 150px;	
	background-color: #F0F0F0;
	margin-right: 100px;
}
.contact h1 {
	font-size: 70px;	
}

.container h2 {font-size: 20px
}
.container h5 {
	font-size: 30px;
	border-bottom: 1px solid #313030;
	margin-bottom: 1px;
}
.container h3 {
	line-height: 1px;
	margin-top: 20px;
}
.container h4 {
	margin-bottom: 10px;
}
.contact {
	line-height: 1px;
	margin-bottom: 15px;
}

.education h5 {
	margin-top: 15px;
}

.alignleft {
	float: left;

}
.alignright {
	float: right;
}
.textbox {
	font-size: 20px;
	font-weight: bold;
	
}
.experience ul {
	margin-bottom: 1px;
	margin-top: 1px;
	font-size: 16px;
}

